body {
  font-family: 'Georgia'; 
  font-weight: normal;
  background-image: url('h1.jpg');
  background-repeat: no-repeat;
  background-position:center 
  background-size: cover;
  color:white;
  }
a{
text-decoration:none;
color:white;
font-weight:bold;
font-size: 21px
}
a:hover{
color:#C0C0C0;
}
#atag{
text-decoration:none;
color:white;
font-size: 36px;
font-weight:bold;
}
h1{
font-family: 'Cormorant'; 
font-size:50px
}
.select { 
    padding: 10px 20px 10px 20px ; 
    border: 1px solid #e3e3e3; 
    border-radius: 1px; 
    background-color: #f2f2f2; 
    color: black; 
    font-size: 12px; 
    line-height: 16px;      
}
